<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <div class="main" id="wrapper">
        <div class="top">
            <div class="content">
                <span class="sidebar-brand">
                    <a href="/">
                        Start Symfony 2
                    </a>
                </span>
                <span class="sidebar-content">
                   <ul class="lang-menu">
                       <li>
                           <img src="{{ asset('images/flag-ua.png') }}" alt="Ukrainian" />
                           <a href="{{ path('app_switch_language', {'changeToLocale': 'ua'}) }}">Ukrainian</a>
                       </li>
                       <li>
                           <img src="{{ asset('images/flag-en.png') }}" alt="English" />
                             <a href="{{ path('app_switch_language', {'changeToLocale': 'en'}) }}">English</a>
                       </li>
                   </ul>
                    {% if app.user %}
                        <a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="sidebar">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {'template': 'menu.html.twig'}) }}
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}
                            <h1>Simple Sidebar</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on
                                smaller screens, and will appear non-collapsed on larger screens. When toggled using the
                                button below, the menu will appear/disappear. On small screens, the page content will be
                                pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}
</body>
</html>
