{% trans_default_domain 'menu' %}
{% for menu in item %}
<li>
    <a href="{{ menu.uri }}">
        {{ menu.name|trans(
        item.getExtra('translation_params', {}),
        item.getExtra('menu', 'menu')
        )  }}
    </a>
</li>
{% else %}
    {% trans %}No Items{% endtrans %}
{% endfor %}