{% extends 'base.html.twig' %}
{% block content %}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
{{ form_end(form) }}
{% endblock %}